:root {
  /* Add these styles to your global stylesheet, which is used across all site pages. You only need to do this once. All elements in the library derive their variables and base styles from this central sheet, simplifying site-wide edits. For instance, if you want to modify how your h2's appear across the site, you just update it once in the global styles, and the changes apply everywhere. */
  --primary: #2192a7;
  --primaryLight: #a9d5d6;
  --secondary: #ffba43;
  --secondaryLight: #ffba43;
  --headerColor: #a9d5d6;
  --bodyTextColor: #B2BEB5;
  --bodyTextColorWhite: #fafbfc;
  /* 13px - 16px */
  --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
  /* 31px - 49px */
  --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
  --bodyFontSize: 1rem;
  /* 60px - 100px top and bottom */
  --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 2rem;
}

background {
  color:#000;
}

body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  /* prevents padding from affecting height and width */
  box-sizing: border-box;
}
.cs-topper {
  font-size: var(--topperFontSize);
  line-height: 1.2em;
  text-transform: uppercase;
  text-align: inherit;
  letter-spacing: .1em;
  font-weight: 700;
  color: var(--primary);
  margin-bottom: (4/16rem);
  display: block;
}

.cs-title {
  font-size: var(--headerFontSize);
  font-weight: 900;
  line-height: 1.2em;
  text-align: inherit;
  max-width: (700/16rem);
  margin: 0 0 (16/16rem) 0;
  color: var(--headerColor);
  position: relative;
}

.cs-text {
  font-size: var(--bodyFontSize);
  line-height: 1.5em;
  text-align: inherit;
  width: 100%;
  max-width: (650/16rem);
  margin: 0;
  color: var(--bodyTextColor);
}

/*-- -------------------------- -->
<---     Mobile Navigation      -->
<--- -------------------------- -*/

/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
  body {
      &.cs-open {
          overflow: hidden;
      }
  }

  #cs-navigation {
      width: 100%;
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      padding: (12/16rem) (16/16rem);
      background-color: #fff;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      position: fixed;
      z-index: 10000;

      &:before {
          content: "";
          width: 100%;
          height: 0vh;
          background: rgba(0, 0, 0, 0.6);
          opacity: 0;
          display: block;
          position: absolute;
          top: 100%;
          right: 0;
          z-index: -1100;
          transition: height 0.5s, opacity 0.5s;
          -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
      }

      &.cs-active {
          &:before {
              height: 150vh;
              opacity: 1;
          }

          .cs-ul-wrapper {
              opacity: 1;
              transform: scaleY(1);
              transition-delay: 0.15s;
          }

          .cs-li {
              opacity: 1;
              transform: translateY(0);
          }
      }

      .cs-container {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
      }

      .cs-logo {
          width: 40%;
          max-width: (146/16rem);
          height: 100%;
          margin: 0 auto 0 0;
          /* prevents padding and border from affecting height and width */
          box-sizing: border-box;
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 10;

          img {
              width: 100%;
              height: 100%;
              /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
              object-fit: contain;
          }
      }

      .cs-toggle {
          /* 44px - 48px */
          width: clamp(2.75rem, 6vw, 3rem);
          height: clamp(2.75rem, 6vw, 3rem);
          margin: 0 0 0 auto;
          background-color: transparent;
          border: none;
          border-radius: (4/16rem);
          display: flex;
          justify-content: center;
          align-items: center;
      }

      .cs-active {
          .cs-line1 {
              top: 50%;
              transform: translate(-50%, -50%) rotate(225deg);
          }

          .cs-line2 {
              top: 50%;
              transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
              transform-origin: center;
          }

          .cs-line3 {
              opacity: 0;
              bottom: 100%;
          }
      }

      .cs-box {
          /* 24px - 28px */
          width: clamp(1.5rem, 2vw, 1.75rem);
          /* 14px - 16px */
          height: clamp(0.875rem, 1.5vw, 1rem);
          position: relative;
      }

      .cs-line {
          width: 100%;
          height: 2px;
          background-color: #1a1a1a;
          border-radius: 2px;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
      }

      .cs-line1 {
          top: 0;
          transition: transform 0.5s, top 0.3s, left 0.3s;
          animation-duration: 0.7s;
          animation-timing-function: ease;
          animation-direction: normal;
          animation-fill-mode: forwards;
          transform-origin: center;
      }

      .cs-line2 {
          top: 50%;
          transform: translateX(-50%) translateY(-50%);
          transition: top 0.3s, left 0.3s, transform 0.5s;
          animation-duration: 0.7s;
          animation-timing-function: ease;
          animation-direction: normal;
          animation-fill-mode: forwards;
      }

      .cs-line3 {
          bottom: 0;
          transition: bottom 0.3s, opacity 0.3s;
      }

      .cs-ul-wrapper {
          width: 100%;
          height: auto;
          padding-bottom: (48/20em);
          background-color: #fff;
          box-shadow: inset rgba(0, 0, 0, 0.2) 0px 8px 24px;
          opacity: 0;
          position: absolute;
          top: 100%;
          left: 0;
          z-index: -1;
          overflow: hidden;
          transform: scaleY(0);
          transition: transform 0.4s, opacity 0.3s;
          transform-origin: top;
      }

      .cs-ul {
          width: 100%;
          height: auto;
          max-height: 65vh;
          margin: 0;
          padding: (48/16rem) 0 0 0;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          gap: (20/16rem);
          overflow: scroll;
      }

      .cs-li {
          text-align: center;
          list-style: none;
          width: 100%;
          margin-right: 0;
          opacity: 0;
          /* transition from these values */
          transform: translateY(-4.375rem);
          transition: transform 0.6s, opacity 0.9s;

          &:nth-of-type(1) {
              transition-delay: 0.05s;
          }
          &:nth-of-type(2) {
              transition-delay: 0.1s;
          }
          &:nth-of-type(3) {
              transition-delay: 0.15s;
          }
          &:nth-of-type(4) {
              transition-delay: 0.2s;
          }
          &:nth-of-type(5) {
              transition-delay: 0.25s;
          }
          &:nth-of-type(6) {
              transition-delay: 0.3s;
          }
          &:nth-of-type(7) {
              transition-delay: 0.35s;
          }
          &:nth-of-type(8) {
              transition-delay: 0.4s;
          }
          &:nth-of-type(9) {
              transition-delay: 0.45s;
          }
          &:nth-of-type(10) {
              transition-delay: 0.5s;
          }
          &:nth-of-type(11) {
              transition-delay: 0.55s;
          }
          &:nth-of-type(12) {
              transition-delay: 0.6s;
          }
          &:nth-of-type(13) {
              transition-delay: 0.65s;
          }
      }

      .cs-li-link {
          /* 16px - 24px */
          font-size: clamp(1rem, 2.5vw, 1.5rem);
          line-height: 1.2em;
          text-decoration: none;
          margin: 0;
          color: var(--headerColor);
          display: inline-block;
          position: relative;

          &:before {
              /* active state underline */
              content: "";
              width: 100%;
              height: 1px;
              background: currentColor;
              opacity: 1;
              display: none;
              position: absolute;
              bottom: (-2/16rem);
              left: 0;
          }

          &.cs-active {
              &:before {
                  display: block;
              }
          }
      }

      .cs-button-solid {
          display: none;
      }
  }
}

/*-- -------------------------- -->
<---     Desktop Navigation     -->
<--- -------------------------- -*/

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #cs-navigation {
      width: 100%;
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      padding: 0 (16/16rem);
      background-color: #fff;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      position: fixed;
      z-index: 10000;

      .cs-container {
        width: 100%;
        max-width: (1280/16rem);
        margin: auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
        background-color: #000;
        padding: 0.6rem;
    }

      .cs-toggle {
          display: none;
      }

      .cs-logo {
          width: 18.4%;
          max-width: (350/16rem);
          height: (65/16rem);
          /* margin-right auto pushes everything away from it to the right */
          margin: 0 auto 0 0;
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 100;

          img {
            width: 120px;
            height: 120px;
            /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
            object-fit: contain;
            margin-right: 150px;
        }
      }

      .cs-ul {
        width: 100%;
        margin: 0;
        padding: 15px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        /* 20px - 36px */
        gap: clamp(1.25rem, 2.6vw, 2.25rem);
    }

      .cs-li {
          list-style: none;
          padding: (32/16rem) 0;
          /* prevent flexbox from squishing it */
          flex: none;
      }

      .cs-li-link {
          /* 14px - 16px */
          font-size: clamp(0.875rem, 1.3vw, 2rem);
          line-height: 1.5em;
          text-decoration: none;
          margin: 0;
          color: var(--bodyTextColor);
          display: block;
          position: relative;
          &:hover {
              &:before {
                  width: 100%;
              }
          }

          &.cs-active {
              &:before {
                  width: 100%;
              }
          }

          &:before {
              /* active state underline */
              content: "";
              width: 0%;
              height: 2px;
              background: var(--primary);
              opacity: 1;
              display: block;
              position: absolute;
              bottom: (0/16rem);
              left: 0;
              transition: width 0.3s;
          }
      }

      .cs-button-solid {
          font-size: 2rem;
          font-weight: 700;
          /* 46px - 56px */
          line-height: clamp(2.875em, 5.7vw, 2em);
          text-align: center;
          text-decoration: none;
          min-width: 12rem;
          margin: 0;
          border: none;
          cursor: pointer;
          /* prevents padding from adding to the width */
          box-sizing: border-box;
          padding: 0 (24/16rem);
          color: var(--primaryLight);
          background-color: var(--primary);
          border-radius: (4/16rem);
          display: inline-block;
          position: relative;
          z-index: 1;
          transition: color 0.3s;

          &:before {
              content: "";
              width: 0%;
              height: 100%;
              background: #000;
              opacity: 1;
              border-radius: (4/16rem);
              position: absolute;
              top: 0;
              left: 0;
              z-index: -1;
              transition: width 0.3s;
          }

          &:hover {
            color: #fff;
              &:before {
                  width: 100%;
              }
          }
      }
  }
}

/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-229 {
    /* changes on tablet */
    padding: 0 1rem;
    position: relative;
    z-index: 1;
    /* prevents overflow from the lines extending past the screen width */
    overflow: hidden;
  }
  #hero-229 .cs-picture {
    /* Background Image */
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }
  #hero-229 .cs-picture:before {
    /* Black Color Overlay */
    content: '';
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
    /* prevents the cursor from interacting with it */
    pointer-events: none;
  }
  #hero-229 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes image act like a background-image */
    object-fit: cover;
  }
  #hero-229 .cs-container {
    width: 100%;
    max-width: 80rem;
    /* we put the padding top and bottom on the container instead of #Hero so the pseudo element lines go to the top and bottom of the section */
    /* 144px - 280px - leaving extra space for the navigation */
    /* changes on tablet */
    padding: clamp(9rem, 25.95vw, 17.5rem) 0;
    margin: auto;
    position: relative;
  }
  #hero-229 .cs-container:before {
    /* Left Line */
    content: '';
    width: 1px;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(250, 251, 252, 0.5) 0%, rgba(250, 251, 252, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(250, 251, 252, 0.5) 0%, rgba(250, 251, 252, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    opacity: 1;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
  }
  #hero-229 .cs-flex-group {
    /* 60px - 220px */
    margin-bottom: clamp(3.75rem, 15.5vw, 13.75rem);
    margin: auto;
    width: 80vw;
    /* 464px - 562px */
    max-width: clamp(29rem, 60vw, 35.125rem);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 1.25rem;
    box-sizing: border-box;
  }
  #hero-229 .cs-topper {
    /* 13px - 16px */
    font-size: clamp(0.8125rem, 1.6vw, 1rem);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1rem;
    font-weight: 700;
    color: var(--primaryLight);
    margin-bottom: 1rem;
    display: block;
  }
  #hero-229 .cs-title {
    /* 39px - 61px */
    font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
    font-weight: 900;
    line-height: 1.2em;
    text-align: center;
    width: 100%;
    /* 32px - 40px */
    margin: 0 auto clamp(2rem, 4vw, 2.5rem) 0;
    color: var(--bodyTextColorWhite);
    position: relative;
  }
  #hero-229 .cs-text {
    /* 16px - 20px */
    font-size: clamp(1rem, 1.95vw, 1.25rem);
    line-height: 1.5em;
    text-align: center;
    width: 100%;
    /* 32px - 40px */
    margin: 0 auto clamp(2rem, 4vw, 2.5rem) 0;
    /* 40px - 48px */
    margin-bottom: clamp(2.5rem, 4vw, 3rem);
    color: var(--bodyTextColorWhite);
  }
  #hero-229 .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 3rem;
    background-color: var(--primary);
    overflow: hidden;
    color: var(--primaryLight);
    border: none;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
  }
  #hero-229 .cs-button-solid:before {
    content: "";
    width: 0;
    height: 100%;
    background: #000;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #hero-229 .cs-button-solid:hover {
    color: #fff;
  }
  #hero-229 .cs-button-solid:hover:before {
    width: 100%;
  }
  #hero-229 .cs-button-transparent {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    width: 11.25rem;
    /* 46px - 56px */
    height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    margin: 0;
    color: #fff;
    padding: 0;
    background-color: transparent;
    border: 1px solid var(--bodyTextColorWhite);
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  #hero-229 .cs-button-transparent:before {
    content: '';
    position: absolute;
    display: block;
    background: #000;
    opacity: 1;
    /* so it sits on top of the border */
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    z-index: -1;
    transform-origin: left;
    /* this is what creates the grow affect on hover */
    transform: scaleX(0);
    transition: transform 0.3s;
  }
  #hero-229 .cs-button-transparent:hover:before {
    transform: scaleX(1);
  }
  #hero-229 .cs-button-transparent .cs-img {
    display: block;
    margin-right: 0.75rem;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero-229 {
    /* 32px - 40px */
    padding: 0 clamp(2rem, 5vw, 2.5rem);
  }
  #hero-229 .cs-container:after {
    /* Right Line */
    content: '';
    width: 1px;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(250, 251, 252, 0) 0%, rgba(250, 251, 252, 0.5) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(250, 251, 252, 0) 0%, rgba(250, 251, 252, 0.5) 100%);
    /* Chrome10-25,Safari5.1-6 */
    opacity: 1;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
  }
  #hero-229 .cs-button-solid {
    margin-bottom: 0;
  }
}
/* Desktop Parallax Effect - 1300px */
@media only screen and (min-width: 81.25rem) {
  #hero-229 {
    background: url("./Images/canva_background.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* creates parallax effect on background image */
    background-attachment: fixed;
    /* remove img tag so we can make parallax work */
  }
  #hero-229 .cs-picture img {
    display: none;
  }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-448 {
      padding: var(--sectionPadding);
      background: #000;

      .cs-container {
          width: 100%;
          /* changes at 1280px at tablet */
          max-width: (550/16rem);
          margin: auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          /* 48px - 64px */
          gap: clamp(3rem, 6vw, 4rem);
      }

      .cs-content {
          /* set text align to left if content needs to be left aligned */
          text-align: center;
          width: 100%;
          display: flex;
          flex-direction: column;
          /* centers content horizontally, set to flex-start to left align */
          align-items: center;
      }

      .cs-card-group {
          width: 100%;
          padding: 0;
          margin: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          /* 16px - 20px */
          column-gap: clamp(1rem, 1.5vw, 1.25rem);
          /* 24px - 60px */
          row-gap: clamp(1.5rem, 5vw, 3.75rem);
      }

      .cs-item {
          list-style: none;
          width: 100%;
          max-width: (360/16rem);
          /* changes at desktop */
          padding-top: (144/16rem);
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          &:hover {
              .cs-picture {
                  img {
                      transform: scale(1.2);
                      opacity: 0.4;
                  }
              }

              .cs-flex {
                  &:before {
                      opacity: 1;
                  }
              }
          }
      }

      .cs-picture {
          width: 100%;
          /* changes at desktop */
          height: (250/16rem);
          border-radius: 2rem;
          background-color: var(--primary);
          /* clips the corners of the image */
          overflow: hidden;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;

          img {
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              width: 100%;
              /* makes it behave like a background image */
              object-fit: cover;
              /* positions top of image to the top of the container */
              object-position: top;
              transition:
                  transform 0.9s,
                  opacity 0.5s;
          }
      }

      .cs-flex {
          text-align: center;
          width: 88%;
          padding: 0 (24/16rem) (24/16rem) (24/16rem);
          padding-bottom: 70px;
          /* prevents padding and border from affecting height and width */
          box-sizing: border-box;
          border: 1px solid #dad9e3;
          border-radius: 2rem;
          background-color: #000;
          box-shadow: 0px 24px 54px rgba(87, 107, 147, 0.12);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: relative;
          z-index: 2;
          &
          before {
              /* hover border box */
              content: "";
          background: transparent;
              /* prevents the mouse from interacting with it */
          pointer-events: none;
          border: 4px solid var(--primary);
          border-radius: 2rem;
              /* prevents border from affecting height and width */
          box-sizing: border-box;
          opacity: 0;
          position: absolute;
          display: block;
          top: -1px;
          left: -1px;
          right: -1px;
          bottom: -1px;
          transition: opacity 0.5s;
          }
      }

      .cs-wrapper {
          /* 80px - 120px */
          width: clamp(5rem, 9.2vw, 7.5rem);
          height: clamp(5rem, 9.2vw, 7.5rem);
          /* 20px - 24px */
          margin: 0 0 clamp(1.25rem, 1.5vw, 1.5rem);
          /* we use the same clamp value for height & width, but multiple by -.5 so it will be a negative value, and be half of the height.  Negative margins pull things toward the element so they overlap them, in this case we want the .cs-wrapper to overlap .cs-flex by half its height, so we use the same clamp for height and half it for the margin top value */
          margin-top: calc(clamp(5rem, 9.2vw, 7.5rem)*-.5);
          border-radius: 50%;
          border: 4px solid var(--primary);
          background-color: #fff;
          /* prevents border from affecting height and width */
          box-sizing: border-box;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          z-index: 10;
      }

      .cs-icon {
          /* 48px - 64px */
          width: clamp(3rem, 4.3vw, 4rem);
          height: auto;
          display: block;
      }

      .cs-h3 {
          /* 20px - 25px */
          font-size: clamp(1.25rem, 1.9vw, 1.5625rem);
          line-height: 1.2em;
          font-weight: 700;
          margin: 0 0 (8/16rem) 0;
          color: var(--headerColor);
      }

      .cs-item-text {
          /* 14px - 16px */
          font-size: clamp(0.875rem, 1.5vw, 1rem);
          line-height: 1.5em;
          font-weight: 400;
          /* 20px - 24px */
          margin: 0 0 clamp(1.25rem, 1.5vw, 1.5rem);
          color: var(--bodyTextColor);
      }

      .cs-link {
          /* 16px - 20px */
          font-size: clamp(1rem, 1.5vw, 1.25rem);
          line-height: 1.5em;
          font-weight: 700;
          text-transform: uppercase;
          text-decoration: none;
          margin: 0;
          color: var(--primary);
          display: inline-block;
          position: relative;

          &:hover {
              &:before {
                  width: 100%;
              }
          }

          &:before {
              /* animated underline */
              content: "";
              width: 0%;
              height: 3px;
              background: currentColor;
              opacity: 1;
              position: absolute;
              display: block;
              bottom: (-2/16rem);
              left: 0;
              transition: width 0.3s;
          }
      }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-448 {
      .cs-container {
          max-width: (1280/16rem);
      }

      .cs-card-group {
          flex-direction: row;
      }

      .cs-item {
          width: 47%;
      }
  }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #services-448 {
      .cs-card-group {
          flex-wrap: nowrap;
      }
      .cs-item {
          width: 100%;
          /* 144px - 274px */
          padding-top: clamp(9rem, 17.5vw, 17.125rem);
      }

      .cs-picture {
          /* 224px - 428px */
          height: clamp(14rem, 28vw, 26.75rem);
      }
  }
}

/*-- -------------------------- -->
<---           Steps            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #steps-889 {
      padding: var(--sectionPadding);
      background: #000;
  }
  #steps-889 .cs-container {
      width: 100%;
      max-width: 80rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
  }
  #steps-889 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
  }

  #steps-889 .cs-text {
      max-width: 66.5rem;
  }
  #steps-889 .cs-button-solid {
      font-size: 1rem;
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: var(--bodyTextColor);
      min-width: 9.375rem;
      padding: 0 1.5rem;
      background-color: var(--primary);
      display: inline-block;
      position: relative;
      z-index: 1;
      transition: color 0.3s;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
  }
  #steps-889 .cs-button-solid:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 0%;
      background: #000;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      transition: width 0.3s;
  }
  #steps-889 .cs-button-solid:hover {
    color: #fff;
  }
  #steps-889 .cs-button-solid:hover:before {
      width: 100%;
  }
  #steps-889 .cs-card-group {
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 20px - 40px */
      gap: clamp(1.25rem, 3vw, 2.5rem);
  }
  #steps-889 .cs-item {
      text-align: center;
      list-style: none;
      width: 100%;
      max-width: 20.375rem;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  #steps-889 .cs-picture {
      margin-bottom: 1.5rem;
      width: 4.5rem;
      height: 4.5rem;
      background-color: #fff;
      border-radius: 1rem 0 1rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  #steps-889 .cs-h3 {
      font-size: 1.25rem;
      line-height: 1.2em;
      text-align: inherit;
      margin: 0 0 0.75rem 0;
      color: var(--headerColor);
  }
  #steps-889 .cs-item-p {
      font-size: 1rem;
      line-height: 1.5em;
      text-align: inherit;
      margin: 0;
      color: var(--bodyTextColor);
  }
  #steps-889 .cs-arrow {
      /* 48px - 80px */
      width: clamp(3rem, 6vw, 5rem);
      height: auto;
      display: block;
      flex: none;
      transform: rotate(120deg);
  }
  #steps-889 .cs-arrow-img {
      width: 100%;
      display: block;
  }
  #steps-889 .cs-icon {
      width: 4rem;
      height: auto;
      display: block;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #steps-889 .cs-card-group {
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
  }
  #steps-889 .cs-arrow {
      align-self: center;
      transform: rotate(40deg);
  }
}

/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cs-footer-308 {
      padding: var(--sectionPadding);
      background-color: #000;
      border-top: 1px solid var(--bodyTextColor);

      .cs-container {
          width: 100%;
          /* reset on desktop */
          max-width: (700/16rem);
          margin: auto;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-wrap: wrap;
          gap: (40/16rem);
      }

      .cs-logo-group {
          /* takes up all the space, lets the other ul's wrap below it */
          width: 100%;
          position: relative;
      }

      .cs-logo {
          width: (178/16rem);
          height: auto;
          display: block;
          margin-bottom: (24/16rem);
      }

      .cs-logo-img {
          width: 100%;
          height: auto;

          &.dark {
              display: none;
          }
      } /* Navigation Links */
      .cs-nav {
          width: 100%;
          padding: 0;
          margin: 0;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          gap: (12/16rem);
          margin-right: 3rem;
      }

      .cs-nav-li {
          list-style: none;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          margin-bottom: 1rem;
      }

      .cs-header {
          font-size: (16/16rem);
          line-height: 1.2em;
          text-transform: uppercase;
          font-weight: 700;
          margin-bottom: (12/16rem);
          color: var(--bodyTextColor);
          position: relative;
          display: block;
          margin-bottom: 1rem;
      }

      .cs-nav-link {
          font-size: (16/16rem);
          text-decoration: none;
          line-height: 1.5em;
          color: var(--bodyTextColor);
          position: relative;
          display: inline-block;
          transition: color 0.3s;

          &:before {
              /* underline */
              content: "";
              width: 0%;
              height: (2/16rem);
              background: currentColor;
              opacity: 1;
              position: absolute;
              display: block;
              bottom: (-2/16rem);
              left: 0;
              transition: width 0.3s;
          }

          &:hover {
              color: var(--primary);
              &:before {
                  width: 100%;
              }
          }
      }

      .cs-icon {
          width: 1.5rem;
          height: auto;
          margin-right: 0.75rem;
      }

      .cs-bottom {
          max-width: (1280/16rem);
          margin: auto;
          margin-top: (32/16rem);
          padding-top: (24/16rem);
          border-top: 1px solid #484848;
          display: flex;
          justify-content: center;
          align-items: center;
      }

      .cs-copyright,
      .cs-copyright-link {
          font-size: (16/16rem);
          line-height: 1.5em;
          color: var(--bodyTextColorWhite);
          margin-top: 1.5rem;
      }

      .cs-copyright-link {
          text-decoration: none;
          transition: color 0.3s;
          &:hover {
              color: var(--primary);
          }
      }
  }
  #cs-footer-308 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: var(--bodyTextColor);
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
}
#cs-footer-308 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
}
#cs-footer-308 .cs-button-solid:hover {
  color: #fff;
}
#cs-footer-308 .cs-button-solid:hover:before {
    width: 100%;
}
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #cs-footer-308 {
      .cs-container {
          row-gap: 0;
          flex-direction: row;
          justify-content: space-between;
          row-gap: (40/16rem);
      }

      .cs-nav {
          width: auto;
      }
  }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #cs-footer-308 {
      .cs-container {
          max-width: (1280/16rem);
          flex-wrap: nowrap;
          justify-content: flex-end;
          column-gap: 10rem;
          padding-bottom: 20px;
      }

      .cs-logo-group {
          width: 20%;
          max-width: (387/16rem);
          /* pushes away from everything to the right */
          margin-right: auto;
      }

      .cs-text {
          width: 100%;
          padding-bottom: 30px;
          color: var(--bodyTextColor);
      }
  }
}                      

/* Extra */
.wrapper {
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  opacity: 0; /* Hidden by default */
  visibility: hidden;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.wrapper.active-popup {
  opacity: 1;
  visibility: visible;
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: var(--primary);
  font-size: 2em;
  color: var(--primaryLight);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}

.form-box h2 {
  font-size: 2em;
  color: var(--primaryLight);
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid var(--primary);
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: var(--primaryLight);
  font-weight: 500;
  pointer-events: none;
  transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: var(--primaryLight);
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: var(--primaryLight);
  line-height: 57px;
}

.remember-forgot {
  font-size: .9em;
  color: var(--primaryLight);
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input {
  accent-color: var(--primaryLight);
  margin-right: 3px;
}

.remember-forgot a {
  color: var(--primaryLight);
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 45px;
  background: var(--primary);
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: var(--primaryLight);
  font-weight: 500;
}

.login-register {
  font-size: .9em;
  color: var(--primaryLight);
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a {
  color: var(--primaryLight);
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover {
 text-decoration: underline;
}